.dashboard {
    height: 100vh;
}

 .ant-layout-header {
    padding: 0  0 0 1em;
    display: flex;
 /*   justify-content: flex-end; */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cccccc+57,648cff+82 */
    background: #648cff; /* Old browsers */
    line-height: 54px;
    height: 54px; 
}

/*

.dashboard .content {
    min-width: 300px;
    min-height: 300px;
    margin: 2em;
}
*/

